[General]
isPS4Pro = false

[GPU]
Fullscreen = true
FullscreenMode = "Windowed"
screenWidth = 1920
screenHeight = 1080
internalScreenWidth = 1920
internalScreenHeight = 1080
patchShaders = true
readbacks = true
readbackLinearImages = false
readbacksMode = 0
copyGPUBuffers = false
directMemoryAccess = false
vblankFrequency = 30

[Vulkan]
gpuId = {{ dg_shadps4_gpu_id }}
validation = false
validation_core = false
validation_sync = false
validation_gpu = false
crashDiagnostic = false

