[Desktop Entry]
Name=Sonic 2 (2013) + Sonic 2 Mania (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_s2013_bin }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Sonic 2 (2013 remaster) native RSDKv4 decompilation with the Sonic 2 Mania mod.
Categories=Game;
Keywords=sonic 2;2013;rsdk;mania;taxman;
StartupWMClass=RSDKv4;
