[Desktop Entry]
Name=2Ship2Harkinian - Majora's Mask (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_two_ship2harkinian_bin }}
Path={{ dg_two_ship2harkinian_install_dir }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Native Linux Majora's Mask PC port
Categories=Game;
