[Desktop Entry]
Name=Symphony of the Night (Recomp) (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_sotn_recomp_bin }}
Terminal=false
Type=Application
Icon=wine
Comment=Castlevania: Symphony of the Night — BlackLabelHQ native recompilation
Categories=Game;
StartupWMClass=sotn;
