[Desktop Entry]
Name=shadPS4 Driveclub (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_shadps4_bin }} -g {{ dg_shadps4_game_arg }} -p {{ dg_shadps4_patch_xml }} -f true
Terminal=false
Type=Application
Icon=shadps4
Comment=PlayStation 4 emulator configured for Driveclub
Categories=Game;Emulator;
StartupWMClass=shadps4;
