[Desktop Entry]
Name=Super Mario 64 Plus (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_sm64plus_bin }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Native Linux Super Mario 64 Plus PC port
Categories=Game;
