[Desktop Entry]
Name=SM64 Last Impact — Coop DX (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_gpu_env }} {{ dg_sm64coopdx_bin }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Super Mario 64 Coop Deluxe with Kaze's Last Impact romhack ported as a Lua mod
Categories=Game;
StartupWMClass=sm64coopdx;
