[Desktop Entry]
Name=Sonic 3 A.I.R. (on {{ dg_box_name }})
Exec=/usr/bin/distrobox-enter -n {{ dg_box_name }} -- {{ dg_s3air_launcher }}
Terminal=false
Type=Application
Icon=applications-games
Comment=Sonic 3 & Knuckles — Angel Island Revisited fan remaster, native on the RTX.
Categories=Game;
Keywords=sonic;sonic 3;knuckles;air;angel island;
StartupWMClass=sonic3air_linux;
